@import '~bootstrap/scss/bootstrap';

/******** GENERAL VARIABLES ********/
$primary-orange: #EE6E10;
$secondary-blue: #00849C;
$light-orange: #F9913D;
$light-blue: #29C0B2;

.colPrimaryOrange { color: $primary-orange; }
.colSecondaryBlue { color: $secondary-blue; }
.colLightOrange { color: $light-orange; }
.colLightBlue { color: $light-blue; }

/******** STYLE ********/
body::-webkit-scrollbar {
    display: none;
}

.logo {
    max-height: 40px;
}

.containerBg {
    // background-image: url("bg4.jpg");
    background-image: url("prova (3).jpg");
    background-position: center bottom;
    background-size: cover;
    // background-color: #222;
    height: calc(100vh - 60px);
}

.containerBgWelcome {
    background-color: #222;
    background-size: cover;
    min-height: calc(100vh - 60px);
}


.formBg {
    background: rgb(71, 90, 105);
    background: linear-gradient(31deg, rgba(71, 90, 105, 1) 0%, rgba(223, 133, 107, 1) 35%, rgba(255, 157, 52, 0.7371323529411764) 100%);
}

.castom {
    border: none;
    background-color: transparent;
}

.navColorCastom {
    // background: rgb(45,40,36);
    // background: linear-gradient(207deg, rgba(45,40,36,1) 6%, rgba(17,12,6,1) 30%, rgba(44,39,35,1) 51%, rgba(17,12,6,1) 100%);

    background: rgb(17, 12, 6);
    background: linear-gradient(180deg, rgba(17, 12, 6, 1) 47%, rgba(17, 12, 6, 0.8939950980392157) 92%);
}

// css form

.castomCont {
    height: calc(100% - 90px);
}

.welcomeCastom {
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.customWelcome{
    background-color: #22222235;
}

.login-box {
    height: calc(100% - 90px);
    max-width: 700px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.347);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

//   ##### Button #####
.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box button:hover {
    background: rgba(223, 133, 107, 1);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(223, 133, 107, 1),
        0 0 25px rgba(223, 133, 107, 1),
        0 0 50px rgba(223, 133, 107, 1),
        0 0 100px rgba(223, 133, 107, 1);
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

//   ##### End Button #####

.login-box a:hover {
    background: rgba(223, 133, 107, 1);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(223, 133, 107, 1),
        0 0 25px rgba(223, 133, 107, 1),
        0 0 50px rgba(223, 133, 107, 1),
        0 0 100px rgba(223, 133, 107, 1);
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
}

.ml_3 {
    margin-left: 3rem;
}

.containerDash {
    width: 100%;
    height: 100%;
    // background: #204c66;
}

.imgAdmin {
    width: 10rem;
    clip-path: circle();
    margin-left: 3rem;
}

.carouselDash {
    width: 15rem;
    height: 20rem;
}

html,
body {
    // height: 100%;
    // min-height: 100vh;
    background-color: #e9e9e9;
}

// Admin Dashboard
header {
    height: 66px;
}


.card{
    background-color: rgba(0, 0, 0, 0.341) !important;
    border: 1px solid black !important;
    margin-bottom: 20px;
}

#adminContainer {
    height: calc(100vh - 66px);
    color: black;

    & main {
        height: calc(100vh - 66px);
        overflow-y: scroll;
    }
}

#adminLeftMenu {
    row-gap: 20px;

    .bg-orange {
        box-shadow: inset 0 0px 20px 8px rgba(238, 110, 16, 0.5);
    }

    &>li {
        transition: all .7s ease-in-out;

        & i {
            transition: all .8s ease-in-out;
        }

        &:hover {
            border-color: $light-blue !important;
            -webkit-box-shadow: 0px 7px 50px 16px rgba(0, 132, 156, 0.56);
            box-shadow: 0px 5px 40px 9px rgba(0, 132, 156, 0.56);

            & i {
                color: $light-blue;
            }
        }
    }
}

#messagesSec {
    // &>h1>i {
    //     color: $primary-orange;
    // }

    &>section {
        &>div:first-child {
            // background-color: $primary-orange;
            border-radius: 10px 10px 0 0;
        }
        &>div:last-child {
            border-radius: 0 0 10px 10px;
        }
        // &>div:not(:first-child) {
        //     background-color: #1e1e1e;
        // }
        &>div {
            column-gap: 20px;

            & .w-15 {
                width: 15%;
            }

            & .w-60 {
                width: 60%;
            }

            & .message {
                & img {
                    object-fit: cover;
                    object-position: center;
                    max-height: 150px;
                    width: 100%;
                }

                &:hover img {
                    filter: grayscale(70%);
                }

                &:hover p {
                    background-color: rgba(0, 0, 0, 0.708);
                }

                & p {
                    width: 90%;
                    padding: 4px 0;
                }
            }


        }

    }
}

.castomDashbord{
    // background: rgb(245,55,50);
    // background: linear-gradient(57deg, rgba(245,55,50,1) 1%, rgba(242,93,52,1) 36%, rgba(254,155,57,1) 84%);
    background-image: url('/public/bg4.jpg');
    background-size: cover;
    background-position: center;
}

.castomMain{
    background-color: whitesmoke ;
}

.castomBruno{
    background-color: #d7d6d6;
}

.castomButton{
    background: rgb(245,55,50);
    background: linear-gradient(57deg, rgba(245,55,50,1) 1%, rgba(242,93,52,1) 36%, rgba(254,155,57,1) 84%);
    transition: background 0.5s ease-in-out;
    overflow: hidden;
}

.castomButton:hover {
    background: linear-gradient(267deg, rgba(245,55,50,1) 1%, rgba(242,93,52,1) 36%, rgba(254,155,57,1) 84%);
    background-size: 300% 100%;
    animation: gradientShift .5s infinite alternate;
}

@keyframes gradientShift {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 25% 0;
    }
    50% {
        background-position: 50% 0;
    }
    75% {
        background-position: 75% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.castomRelative{
    position: relative;
}

.castomAbsolute{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.card{
    border: none !important;
    box-shadow: 0 15px 25px rgba(91, 91, 91, 0.446);
}


// PAYMENT PAGES

.checkout, .success, .failed {

    & .overlay {
        background-color: rgba(0, 0, 0, 0.7);

        & p {
            font-size: 14px;
        }

        & .separator {
            font-size: 30px;
        }
    }

    & .w-40 {
        width: 40%
    }

    & .w-85 {
        width: 85%;
    }

    & .rightCol {
        margin-left: -3rem;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    & .overlay {
        margin-bottom: 50px;
    }

    & button {
        width: 50%;
    }

}

@media (max-width: 992px) {
    .checkout, .success, .failed {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .overlay {
        margin-bottom: 0;
    }
    .rightCol {
        margin: 0 !important;
    }

    .dateContainer {
        flex-direction: column;
        align-items: center;

        & input {
            margin-top: 10px;
            width: 100% !important;
        }
    }

    form button {
        width: 100%;
    }

}

@media (max-width: 576px) {
    .failed .buttons {
        flex-wrap: wrap;
    }
    .failed button {
        width: 100%;
    }
}
